<app-navbar></app-navbar>

<div class="container">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="forgotpassword" (ngSubmit)="onSubmit()" class="form">
          <div class="form-group">
            <label class="label">Enter your email</label>
            <app-input label="" [control]="forgotpassword.controls.email"></app-input>
          </div>
          <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" id="submit">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="container" [hidden]="showOtpForm">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()" class="form">
              <div class="form-group">
                <label class="label">Enter the OPT you received to your email : </label>
                <app-input label="" [control]="otpForm.controls.otpNumber"></app-input>
              </div>
              <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="container" [hidden]="showPasswordResetForm">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmitResetPassword()" class="form">
                  <div class="form-group">
                    <label class="label">Enter your new password : </label>
                    <app-input label="" [control]="passwordResetForm.controls.newPassword"></app-input>
                  </div>
                  <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" id="submit">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>