<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="assets/pen.jpg" alt="Card image cap" width="40px" height="150px"/>
        <div class="card-body">
          <h5 class="card-title">A Pen</h5>
          <p class="card-text">
            A pen is a writing instrument that uses ink to leave marks on a surface, typically paper.
          </p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="assets/mobiles.jpg" alt="Card image cap" width="40px" height="150px"/>
        <div class="card-body">
          <h5 class="card-title">One Plus - Smartphone</h5>
          <p class="card-text">
            OnePlus is a popular smartphone brand known for its high-performance devices and innovative features. With a focus on delivering flagship-level performance at a competitive price, 
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="assets/sofa.jpg" alt="Card image cap" width="40px" height="200px"/>
        <div class="card-body">
          <h5 class="card-title">A Sofa</h5>
          <p class="card-text">
            A sofa provides comfort and relaxation, making it the perfect spot to unwind and recharge.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="assets/book.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <p class="card-text">
            Books are windows to new worlds, offering knowledge, imagination, and endless possibilities.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
