.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .form {
    width: 100%;
  }
  
  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }
  #submit{
    margin-top: 5px;
  }